<!-- templates/ecommerce_app/view_cart.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Cart</title>
</head>
<body>
    <h1>Your Shopping Cart</h1>

    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <li>{{ item.product.name }} - Quantity: {{ item.quantity }}</li>
            {% endfor %}
        </ul>

        <p>Total Price: ${{ total_price }}</p>
    {% else %}
        <p>You need to add items to your Shopping cart.</p>
    {% endif %}
</body>
</html>
